.trendContent{
    background-color: none;
    padding: 0;
    margin:0;
    text-decoration: none;
}

.trendContent__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trendContent__headerText{
    color:gray;
    font-size: 14px;
    margin:0
}

.trendContent__options{
    color: gray !important;
}

.trendContent__tag{
    color: rgb(61, 61, 61);
    font-size:15px;
    font-weight:600;
    margin: 0.2rem 0 0.2rem 0;
}

.trendContent__tweets{
    color:gray;
    font-size: 14px;
    margin:0 0 1rem 0
}